button, a.button {
    font-size: 13px;
    padding: 5px 8px;
    border: 2px solid #222;
    background-color: #FFF;
    color: #222;
    transition: background 200ms ease-out;
}

header {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CCC;
}

header .title {
    font-weight: 900;
    padding-left: 25px;
}

.chart rect {
    fill: steelblue;
}
.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}
