header {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #CCC;
}

header .title {
    font-weight: 900;
    padding-left: 25px;
}

.chart rect {
    fill: steelblue;
}
.chart text {
    fill: white;
    font: 10px sans-serif;
    text-anchor: end;
}
